activation.jar
bcmail-jdk14.jar
bcprov-jdk14.jar
commons-math.jar
commons-math3.jar
geronimo-jms_1.1_spec.jar
gs-algo.jar
gs-core.jar
gs-ui.jar
hamcrest-core.jar
itext.jar
jaretutil-0.32.jar
javaee-api.jar
jcommon.jar
jfreechart.jar
junit.jar
log4j.jar
mail.jar
mbox2.jar
ojdbc7.jar
pherd.jar
scala-library.jar
timebars-1.49.jar
xml-apis.jar
